@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --hue: 152;
  --header-height: 3.5rem;
  --text-color: hsl(47, 34%, 47%);
  --text-color-lighten: hsl(47, 32%, 65%);
  --second-color: hsl(0, 2%, 26%);
  --title-color: hsl(47, 41%, 57%);
  --body-color: #f6f6f6;
  --home-body-color: hsl(0, 0%, 15%);

  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --z-index-negative: -5;
  --z-index-positive: 5;
  --z-index-nav: 15;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #fefdfd;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.header {
  width: 100%;
  background-color: #fefdfd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.4s;
}

.section {
  padding: 1rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.section__title span {
  color: var(--second-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--second-color);
}

.main {
  overflow: hidden; /* For the animations ScrollReveal*/
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
  color: var(--text-color);
}

.nav__logo {
  display: flex;
  align-items: center;
  font-weight: var(--font-semi-bold);
  column-gap: 0.5rem;
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__menu {
  position: relative;
}

.logo {
  font-size: var(--h1-font-size);
}

.nav__logo img {
  width: 30px;
  width: 30px;
  border-radius: 360px;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    -webkit-backdrop-filter: blur(32px);
    background-color: hsla(180, 12%, 8%, 0.8);
    backdrop-filter: blur(32px);
    border-left: 2px solid var(--first-color-gray);
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
    padding: 3rem;
    transition: 0.4s;
    z-index: var(--z-index-nav);
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--second-color);
}

.nav__close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.show-menu {
  right: 0;
}

.scroll-header {
  background-color: #fff;
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, 0.1);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: var(--text-color);
}

.home__background {
  background-color: var(--home-body-color);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: var(--z-index-negative);
}

.home__section {
  margin: 0;
  position: relative;
}

.home__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;
}

.home__image-container img {
  height: 65%;
  width: 65%;
  margin-bottom: 1rem;
}

.home__form-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.home__form-container form {
  width: 70%;
}

.form-open {
  display: flex;
}

.home__title {
  font-size: var(--biggest-font-size);
  letter-spacing: 5px;
}

.home__button {
  margin-top: 1rem;
  width: 140px;
  height: 50px;
  font-size: 1.15em;
  color: var(--text-color-lighten);
  border: solid 1px var(--text-color);
  background: transparent;
  transition: 0.3s ease-in;
}

.home__button:hover {
  background: #434141;
}

.home__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__section {
  padding: 5.5rem 0 1rem;
  display: flex;
  flex-direction: column;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__image-container {
  padding: 2rem;
}

.about__image-container img {
  height: 300px;
  width: 210px;
}

.about__details {
  padding: 0 4rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.75rem;
}

.about__title {
  font-weight: normal;
}

.about__subtitle {
  font-weight: var(--font-semi-bold);
  color: var(--second-color);
}

.about__socials {
  display: flex;
  column-gap: 1rem;
}

.about__socials i {
  font-size: 1.15rem;
  color: var(--text-color);
}

.about__social-link {
  cursor: pointer;
}

.about__social-link:hover {
  transform: translateY(0.25rem);
  transition: 0.4s;
}

.about__description {
  line-height: 1.4rem;
}

.about__button {
  margin-top: 1rem;
  width: 130px;
  height: 40px;
  font-size: 1em;
  color: var(--text-color-lighten);
  border: solid 1px var(--text-color);
  background: transparent;
  transition: 0.3s ease-in;
}

.about__button:hover {
  background: #434141;
}

.association__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
  row-gap: 2rem;
}

.association__image {
  height: 40%;
  width: 60%;
}

.mySwiper {
  width: 275px;
  height: 350px;
  background: transparent;
  border: 2px solid var(--text-color);
  box-shadow: 1px 8px 12px 5px rgba(177, 176, 176, 0.4);
}

.swiper-slide {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.review__stars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  color: var(--text-color);
}

.review__description {
  font-size: 1.2rem;
  font-weight: var(--font-medium);
}

.reference {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.reference__img {
  height: 75px;
  width: 225px;
}

.services__section {
  padding: 5.5rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.services__title {
  font-size: var(--biggest-font-size);
}

.services__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 2rem;
}

.services__image-container img {
  height: 200px;
  width: 300px;
}

.services__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 0 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}

.services__blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5rem;
  margin-bottom: 2rem;
}

.service__block {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  align-items: center;
  padding: 1rem;
  width: 275px;
  height: 250px;
  border: 2px solid var(--text-color);
  box-shadow: 1px 8px 12px 5px rgba(177, 176, 176, 0.4);
}

.service__block img {
  width: 40px;
  height: 40px;
}

.services__description {
  line-height: 2rem;
}

.services__subtitle {
  font-weight: var(--font-medium);
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.service__block-title {
  font-weight: var(--normal-font-size);
  font-size: 1.2rem;
}

.contact__section {
  padding: 5.5rem 0 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 4rem;
}

.contact__left {
  width: 90%;
}

.contact__title,
.contact__subtitle {
  margin-bottom: 2rem;
}

.contact__subtitle {
  color: var(--second-color);
  font-size: var(--h2-font-size);
}

.contact__inputs,
.home__inputs {
  display: grid;
  row-gap: 2rem;
  margin-bottom: 2.5rem;
}

.contact__content,
.home__content {
  position: relative;
  height: 3rem;
  border-bottom: 1px solid #434141;
}

.contact__input,
.home__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;
  color: var(--text-color);
  border: none;
  outline: none;
  z-index: 1;
}

.contact__label,
.home__label {
  position: absolute;
  top: 0.75rem;
  width: 100%;
  font-size: var(--small-font-size);
  color: var(--text-color);
  transition: 0.3s;
}

.contact__area,
.home__area {
  height: 7rem;
}

.contact__area textarea,
.home__area textarea {
  resize: none;
}

.contact__input:focus + .contact__label,
.home__input:focus + .home__label {
  top: -0.75rem;
  left: 0;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

.contact__input:not(:placeholder-shown).contact__input:not(:focus)
  + .contact__label,
.home__input:not(:placeholder-shown).home__input:not(:focus) + .home__label {
  top: -0.75rem;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

.contact__button,
.home__button {
  margin-top: 1rem;
  width: 150px;
  height: 45px;
  font-size: 1em;
  color: var(--text-color-lighten);
  border: solid 1px var(--text-color);
  background: transparent;
  transition: 0.3s ease-in;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.button__icon {
  transition: 0.3s;
}

.contact__button:hover .button__icon,
.home__button:hover .button__icon {
  transform: translateX(0.25rem);
}

.contact__options {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.contact__option {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.option__link {
  color: var(--second-color);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.icon__option-link {
  color: var(--second-color);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.icon__option-link:hover {
  transform: translateY(0.25rem);
  transition: 0.3s;
}

.option__link:hover {
  color: var(--text-color-lighten);
}

.faq__titles {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.faq__questions {
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.questions__group {
  display: grid;
  row-gap: 1.5rem;
}

.question__block {
  border-radius: 0.25rem;
  background-color: #eeeeee;
}

.question__header {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.75rem 0.5rem;
  cursor: pointer;
}

.question__icon {
  font-size: 1.25rem;
}

.question__title {
  color: var(--second-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.question__content {
  overflow: hidden;
  height: 0;
  transition: 0.3s;
}

.question__description {
  font-size: var(--smaller-font-size);
  padding: 0 1.25rem 1.25rem 2.5rem;
}

.question__block:hover {
  box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, 0.15);
  transition: 0.3s;
}

/*Rotate icon, change color of titles and background*/
.accordion-open .question__header,
.accordion-open .question__content {
  background-color: #434141;
}

.accordion-open .question__title,
.accordion-open .question__description,
.accordion-open .question__icon {
  color: #fff;
}

.accordion-open .question__icon {
  transform: rotate(45deg);
}

.footer {
  background-color: #434141;
}

.footer__container {
  row-gap: 3rem;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: #bdbbbb;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  transition: 0.3s;
}

.footer__logo-icon {
  font-size: 1.15rem;
  color: #bdbbbb;
}

.footer__logo:hover {
  color: var(--text-color-lighten);
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
  color: #bdbbbb;
}

.footer__data {
  display: grid;
  row-gap: 0.75rem;
}

.footer__information {
  display: flex;
  font-size: var(--small-font-size);
  color: #bdbbbb;
  align-items: center;
  column-gap: 1rem;
}

.footer__information a {
  color: #bdbbbb;
}

.footer__information a:hover {
  color: var(--text-color);
}

.footer__social {
  display: inline-flex;
  column-gap: 0.75rem;
}

.footer__social-link {
  font-size: 1rem;
  color: #bdbbbb;
  transition: 0.3s;
}

.footer__social-link:hover {
  transform: translateY(-0.25rem);
}

.footer__copy {
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-lighten);
  margin: 3rem 0 1rem;
}

@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .home__image-container {
    row-gap: 3rem;
  }

  .home__title {
    font-size: 3.5rem;
  }

  .home__form-container form {
    width: 50%;
  }

  .about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__image-container {
    padding: 2rem;
  }

  .about__image-container img {
    height: 400px;
    width: 300px;
  }

  .about__socials i {
    font-size: 1.35rem;
    color: var(--text-color);
  }

  .about__description {
    line-height: 1.8rem;
  }

  .about__button {
    width: 140px;
    height: 50px;
  }

  .about__details {
    align-items: center;
    text-align: center;
    padding: 0 8rem 4rem 8rem;
  }

  .mySwiper {
    height: 400px;
    width: 350px;
  }

  .swiper-slide {
    padding: 3.5rem;
  }

  .association__image {
    height: 25%;
    width: 45%;
  }

  .services__image-container img {
    height: 400px;
    width: 600px;
  }

  .services__content {
    padding: 0 3rem 0 3rem;
  }

  .services__description {
    font-size: 1.2rem;
  }

  .services__subtitle {
    font-size: 1.75rem;
  }

  .contact__container {
    margin-top: 2rem;
    flex-direction: row;
    column-gap: 4rem;
    justify-content: center;
  }

  .contact__left {
    width: 40%;
    padding-right: 2rem;
    border-right: 2px solid #434141;
  }

  .faq__questions {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__image-container img {
    height: 50%;
    width: 50%;
  }

  .home__image-container {
    flex-direction: row;
  }

  .home__details {
    row-gap: 3rem;
  }

  .home__title {
    font-size: 4em;
  }

  .about__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5rem;
  }

  .about__image-container {
    padding: 2rem;
  }

  .about__image-container img {
    height: 400px;
    width: 300px;
  }

  .about__details {
    padding: 2rem 2rem 0 2rem;
    height: 400px;
    width: 400px;
  }

  .about__button {
    padding: 0.25rem;
  }

  .mySwiper {
    height: 375px;
    width: 275px;
  }

  .swiper-slide {
    padding: 2rem;
  }

  .association__image {
    height: 15%;
    width: 35%;
  }

  .services__hero {
    flex-direction: row;
    padding: 2rem 6rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .services__content {
    width: 400px;
    padding: 0 3rem 0 3rem;
    margin-bottom: 0;
  }

  .services__image-container {
    height: 300px;
    width: 400px;
  }

  .services__image-container img {
    height: 100%;
    width: 100%;
  }

  .services__blocks {
    flex-direction: row;
    column-gap: 2rem;
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer__copy {
    font-size: var(--normal-font-size);
  }

  .faq__titles {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .faq__questions {
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: flex-start;
  }
}
