@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --hue: 152;
  --header-height: 3.5rem;
  --text-color: hsl(47, 34%, 47%);
  --text-color-lighten: hsl(47, 32%, 65%);
  --second-color: hsl(0, 2%, 26%);
  --title-color: hsl(47, 41%, 57%);
  --body-color: #f6f6f6;
  --home-body-color: hsl(0, 0%, 15%);

  --body-cont: "poppins", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --z-index-negative: -5;
  --z-index-positive: 5;
  --z-index-nav: 15;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #fefdfd;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
}

.header {
  width: 100%;
  background-color: #fefdfd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.4s;
}

.section {
  padding: 1rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.section__title span {
  color: var(--second-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--second-color);
}

.main {
  overflow: hidden; /* For the animations ScrollReveal*/
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
  color: var(--text-color);
}

.nav__logo {
  display: flex;
  align-items: center;
  font-weight: var(--font-semi-bold);
  column-gap: 0.5rem;
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__menu {
  position: relative;
}

.logo {
  font-size: var(--h1-font-size);
}

.nav__logo img {
  width: 30px;
  width: 30px;
  border-radius: 360px;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    -webkit-backdrop-filter: blur(32px);
    background-color: hsla(180, 12%, 8%, 0.8);
    backdrop-filter: blur(32px);
    border-left: 2px solid var(--first-color-gray);
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
    padding: 3rem;
    transition: 0.4s;
    z-index: var(--z-index-nav);
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--second-color);
}

.nav__close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.show-menu {
  right: 0;
}

.scroll-header {
  background-color: #fff;
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, 0.1);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: var(--text-color);
}

.home__background {
  background-color: var(--home-body-color);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: var(--z-index-negative);
}

.home__section {
  margin: 0;
  position: relative;
}

.home__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;
}

.home__image-container img {
  height: 65%;
  width: 65%;
  margin-bottom: 1rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  letter-spacing: 10px;
}

.home__button {
  margin-top: 1rem;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.15em;
  color: var(--text-color-lighten);
  border: solid 1px var(--text-color);
  background: transparent;
  transition: 0.3s ease-in;
}

.home__button:hover {
  background: #434141;
}

.home__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__section {
  padding: 5.5rem 0 1rem;
  display: flex;
  flex-direction: column;
}

.about__image-container {
  padding: 2rem 4rem 1rem 4rem;
}

.about__details {
  padding: 0 4rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.75rem;
}

.about__title {
  font-weight: normal;
}

.about__subtitle {
  font-weight: var(--font-semi-bold);
  color: var(--second-color);
}

.about__socials {
  display: flex;
  column-gap: 1rem;
}

.about__socials i {
  font-size: 1.15rem;
  color: var(--text-color);
}

.about__description {
  line-height: 1.4rem;
}

.about__button {
  margin-top: 1rem;
  width: 130px;
  height: 40px;
  font-size: 1em;
  color: var(--text-color-lighten);
  border: solid 1px var(--text-color);
  background: transparent;
  transition: 0.3s ease-in;
}

.about__button:hover {
  background: #434141;
}

.association__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
  row-gap: 2rem;
}

.association__image {
  height: 40%;
  width: 60%;
}

.swiper {
  width: 75%;
  height: 300px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  top: initial;
  bottom: 0;
  width: initial;
  height: initial;
  background-color: #f6f6f6;
  border: 2px solid var(--text-color);
  padding: 6px;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: var(--first-color);
}

.swiper-button-prev {
  left: calc(50% - 3rem);
}

.swiper-button-next {
  right: calc(50% - 3rem);
}

.footer {
  background-color: #434141;
}

.footer__container {
  row-gap: 3rem;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: #bdbbbb;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  transition: 0.3s;
}

.footer__logo-icon {
  font-size: 1.15rem;
  color: #bdbbbb;
}

.footer__logo:hover {
  color: var(--text-color-lighten);
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
  color: #bdbbbb;
}

.footer__data {
  display: grid;
  row-gap: 0.75rem;
}

.footer__information {
  display: flex;
  font-size: var(--small-font-size);
  color: #bdbbbb;
  align-items: center;
  column-gap: 1rem;
}

.footer__information a {
  color: #bdbbbb;
}

.footer__information a:hover {
  color: var(--text-color);
}

.footer__social {
  display: inline-flex;
  column-gap: 0.75rem;
}

.footer__social-link {
  font-size: 1rem;
  color: #bdbbbb;
  transition: 0.3s;
}

.footer__social-link:hover {
  transform: translateY(-0.25rem);
}

.footer__copy {
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-lighten);
  margin: 3rem 0 1rem;
}

@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .home__image-container {
    row-gap: 3rem;
  }

  .home__title {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__image-container img {
    height: 50%;
    width: 50%;
  }

  .home__image-container {
    flex-direction: row;
  }

  .home__details {
    row-gap: 3rem;
  }

  .home__title {
    font-size: 4em;
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer__copy {
    font-size: var(--normal-font-size);
  }
}
