@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3.5rem;
  --text-color: hsl(47, 34%, 47%);
  --text-color-lighten: hsl(47, 32%, 65%);
  --second-color: hsl(0, 2%, 26%);
  --title-color: hsl(47, 41%, 57%);
  --body-color: #f6f6f6;
  --home-body-color: hsl(0, 0%, 15%);

  --body-cont: "poppins", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.section__title span {
  color: var(--second-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--second-color);
}

.main {
  overflow: hidden; /* For the animations ScrollReveal*/
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
  color: var(--text-color);
}

.nav__logo {
  display: flex;
  align-items: center;
  font-weight: var(--font-semi-bold);
  column-gap: 0.5rem;
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__menu {
  position: relative;
}

.logo {
  font-size: var(--h1-font-size);
}

.nav__logo img {
  width: 30px;
  width: 30px;
  border-radius: 360px;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    -webkit-backdrop-filter: blur(32px);
    background-color: hsla(180, 12%, 8%, 0.8);
    backdrop-filter: blur(32px);
    border-left: 2px solid var(--first-color-gray);
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
    padding: 3rem;
    transition: 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--second-color);
}

.nav__close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  /* color: var(--title-color); */
  cursor: pointer;
}

.show-menu {
  right: 0;
}

.scroll-header {
  background-color: #fff;
  box-shadow: 0 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: var(--text-color);
}

.vl {
  border-left: 1.2px solid #434141;
  height: 100%;
  position: absolute;
  margin-left: -3px;
  top: 0;
  z-index: -10;
}

.vl-1 {
  left: 20%;
}

.vl-2 {
  left: 40%;
}

.vl-3 {
  left: 60%;
}

.vl-4 {
  left: 80%;
}

.home__background {
  background-color: var(--home-body-color);
  position: relative;
  z-index: -12;
}

.home__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;
}

.home__image-container img {
  height: 75%;
  width: 75%;
  margin-bottom: 1rem;
}

.home__title {
  font-size: var(--biggest-font-size);
}

.home__button {
  margin-top: 1rem;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.15em;
  z-index: 20;
  color: var(--text-color-lighten);
  border: none;
  background: #434141;
  transition: 0.3s ease-in;
}

.home__button:hover {
  background: transparent;
  border: solid 1px var(--text-color);
}

.line__one {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.line__two {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}
